# Node
node_modules
npm-debug.log
yarn-error.log

# SvelteKit build outputs
.svelte-kit
build

# Firebase cache
.firebase

# Logs
*.log
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# Env files
.env
.env.*
